/* Natural State */
.primary-btn,
.secondary-btn,
.tertiary-btn {
	font-family: "Poppins", sans-serif;
	padding: 15px 30px;
	box-shadow: 0px 2px 8px #00000040;
	font-size: 24px;
	border-radius: 8px;
	margin: 10%;
	min-width: 133px;
	min-height: 63px;
}
.primary-btn {
	color: #ffffff;
	background-color: #175a87;
	border: 1px solid #175a87;
}
.secondary-btn {
	color: #000;
	background-color: #fff;
	border: 1px solid #000;
}
.tertiary-btn {
	color: #000;
	background-color: #5cc0df;
	border: 1px solid #5cc0df;
}

/* Hover State */
.primary-btn:hover,
.secondary-btn:hover,
.tertiary-btn:hover {
	font-weight: bold;
}
.secondary-btn:hover {
	background-color: #5cc0df;
}

/* Active State */
.primary-btn:active,
.secondary-btn:active,
.tertiary-btn:active {
	box-shadow: none;
}
.secondary-btn:active {
	background-color: #fff;
}
