// Color palette
$color-red: #ad0000;
$color-blue: #0047d6;
$color-blue-dark: #175a87;
$color-blue-light: #5cc0df;
$color-white: #fff;
$color-grey-light: #efefef;
$color-black: #1f1f1f;

// Context based colors
$text-color-positive-alert: $color-blue;
$text-color-error: $color-red;
$text-color-default: $color-black;
