@use "./colors" as *;
@use "./responsive" as *;

@mixin textDisplay {
	font-size: rem(80px);
	line-height: rem(100px);
	letter-spacing: -0.002em;
	font-family: "Raleway Black";

	// @include desktopAndUp {
	// 	font-size: rem(160px);
	// 	line-height: rem(200px);
	// }
}

@mixin textHeading01 {
	font-size: rem(54px);
	line-height: rem(60px);
	letter-spacing: -0.018em;
	font-family: "Raleway Extrabold";

	// @include desktopAndUp {
	// 	font-size: rem(72px);
	// 	line-height: rem(80px);
	// }
}

@mixin textHeading02 {
	font-size: rem(36px);
	line-height: rem(42px);
	letter-spacing: -0.015em;
	font-family: "Raleway Extrabold";

	// @include desktopAndUp {
	// 	font-size: rem(48px);
	// 	line-height: rem(56px);
	// }
}

@mixin textHeading03 {
	font-size: rem(25px);
	line-height: rem(32px);
	letter-spacing: -0.015em;
	font-family: "Raleway Extrabold";

	// @include desktopAndUp {
	// 	font-size: rem(40px);
	// 	line-height: rem(48px);
	// }
}

@mixin textHeading04 {
	font-size: rem(24px);
	line-height: rem(30px);
	letter-spacing: -0.015em;
	font-family: "Raleway Bold";

	// @include desktopAndUp {
	// 	font-size: rem(36px);
	// 	line-height: rem(44px);
	// }
}

@mixin textSubheading01 {
	font-size: rem(16px);
	line-height: rem(24px);
	letter-spacing: -0.012em;
	font-family: "Poppins Semi-Bold";

	// @include desktopAndUp {
	// 	font-size: rem(24px);
	// 	line-height: rem(32px);
	// }
}

@mixin textSubheading02 {
	font-size: rem(16px);
	line-height: rem(24px);
	letter-spacing: -0.015em;
	font-family: "Poppins Semi-Bold";

	// @include desktopAndUp {
	// 	font-size: rem(20px);
	// 	line-height: rem(28px);
	// }
}

@mixin textSubheading03 {
	font-size: rem(16px);
	line-height: rem(24px);
	letter-spacing: -0.012em;
	font-family: "Poppins Semi-Bold";
}

@mixin textBodyLarge {
	font-size: rem(16px);
	line-height: rem(24px);
	letter-spacing: 0;
	font-family: "Poppins Light";

	// @include desktopAndUp {
	// 	font-size: rem(18px);
	// 	line-height: rem(26px);
	// }
}

@mixin textBodyRegular {
	font-size: rem(16px);
	line-height: rem(24px);
	letter-spacing: 0;
	font-family: "Poppins Light";
}

@mixin textBodySmall {
	font-size: rem(14px);
	line-height: rem(20px);
	letter-spacing: 0;
	font-family: "Poppins Light";
}

@mixin textBodyTiny {
	font-size: rem(12px);
	line-height: rem(16px);
	letter-spacing: 0;
	font-family: "Poppins Light";
}

@mixin textButtonRegular {
	font-size: rem(14px);
	line-height: rem(20px);
	letter-spacing: 0;
	font-family: "Poppins Semi-Bold";

	// @include desktopAndUp {
	// 	font-size: rem(17px);
	// 	line-height: rem(24px);
	// }
}

@mixin textButtonSmall {
	font-size: rem(14px);
	line-height: rem(20px);
	letter-spacing: 0;
	font-family: "Poppins Semi-Bold";
}
