@use "./typography" as *;
@use "./colors" as *;
@use "./responsive" as *;

// ##################
/* Adding Fonts */
// ##################

/* Poppins Font */
@font-face {
	font-family: "Poppins-Regular";
	src: url(".fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
	font-family: "Poppins-Regular";
	src: url(".fonts/Poppins/Poppins-Bold.ttf");
	font-weight: bold;
}

/* Poppins Light Font */
@font-face {
	font-family: "Poppins-Light";
	src: url(".fonts/Poppins/Poppins-Light.ttf");
}

/* Poppins Semi-Bold Font */
@font-face {
	font-family: "Poppins-SemiBold";
	src: url(".fonts/Poppins/Poppins-SemiBold.ttf");
}

/* Raleway Black Font */
@font-face {
	font-family: "Raleway-Black";
	src: url(".fonts/Raleway/Raleway-Black.ttf");
}

/* Raleway Extrabold Font */
@font-face {
	font-family: "Raleway-ExtraBold";
	src: url(".fonts/Raleway/Raleway-ExtraBold.ttf");
}

/* Raleway Bold Font */
@font-face {
	font-family: "Raleway-Bold";
	src: url(".fonts/Raleway/Raleway-Bold.ttf");
}
// ##################
/* End Fonts */
// ##################

body {
	margin: 0;
	padding: 0;
	// background-color: ;
	// color: ;
	@include textBodyRegular;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	@include textHeading01;
}

h2 {
	@include textHeading02;
}

h3 {
	@include textHeading03;
}

h4 {
	@include textHeading04;
}

.subheading1 {
	@include textSubheading01;
}

.subheading2 {
	@include textSubheading02;
}

.subheading3 {
	@include textSubheading03;
}

.mobile-and-down {
	display: inherit;

	// @include tabletAndUp;
}

.tablet-and-down {
	display: inherit;

	// @include desktopAndUp;
}

.tablet-and-up {
	display: none;

	// @include tabletAndUp {
	// 	display: inherit;
	// }
}

.desktop-and-up {
	display: none;

	// @include desktopAndUp {
	// 	display: inherit;
	// }
}
