/* Error: Undefined variable.
 *    ,
 * 27 |     @media only screen and (min-width: $breakpoint-tablet-portrait-min-px) {
 *    |                                        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   src/styles/_responsive.scss 27:37  for-tablet-and-up()
 *   src/styles/globals.scss 117:2      root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 27 \2502      @media only screen and (min-width: $breakpoint-tablet-portrait-min-px) {\a    \2502                                         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   src/styles/_responsive.scss 27:37  for-tablet-and-up()\a   src/styles/globals.scss 117:2      root stylesheet";
}
