/* Error: 2 arguments required, but only 1 was passed.
 *     ,
 * 108 |     font-size: rem(16px);
 *     |                ^^^^^^^^^
 *     '
 *   src/styles/_typography.scss 108:13  textBodyRegular()
 *   src/styles/globals.scss 41:2        root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: 2 arguments required, but only 1 was passed.\a     \2577 \a 108 \2502      font-size: rem(16px);\a     \2502                 ^^^^^^^^^\a     \2575 \a   src/styles/_typography.scss 108:13  textBodyRegular()\a   src/styles/globals.scss 41:2        root stylesheet";
}
