/* Poppins Font */
@font-face {
	font-family: "Poppins";
	src: url("./Poppins/Poppins-Regular.ttf");
}
@font-face {
	font-family: "Poppins";
	src: url("./Poppins/Poppins-Bold.ttf");
	font-weight: bold;
}

/* Raleway Font */
@font-face {
	font-family: "Raleway Black";
	src: url("./Raleway/Raleway-Black.ttf");
}

@font-face {
	font-family: "Raleway Extrabold";
	src: url("./Raleway/Raleway-ExtraBold.ttf");
}

@font-face {
	font-family: "Raleway Bold";
	src: url("./Raleway/Raleway-Bold.ttf");
}
