@use "../../../styles/index.scss" as *;

.formPanel {
	box-sizing: border-box;
	width: 100%;
	max-width: 100%;
	padding: 25px;
	background-color: $color-grey-light;
}

.login-input {
	margin-bottom: 10px;
	background-color: $color-white;
	width: 100%;
}
